/* Write CSS for class new-poll to center align the form and add some margin to it */
.new-poll {
    /* margin: 0 auto;
    width: 50%; */
    margin-bottom: 20px;
}

/* Write CSS for class input-name to center align the input field and add some margin to it */

.input-name {
    margin: 5px;
    width: 50%;
}

.input-val {
    border-radius: 5px;
    margin: 5px;
    /* width: 50%; */
}

.new-poll-form-title {
    /* text-align: center;
    margin: 10px;
    width: 50%; */
    color: #fff;
}

.submit-button {
    width: 200px;
    padding: 15px 0;
    border: none;
    border-radius: 20px;
    background-color: #555;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #777;
  }

/*Add CSS for class new-poll-form to center align the content of the div and add some margin to it. */

.new-poll-form {
    margin: 50px auto;
    width: 100%;
    max-width: 600px;
    text-align: center;
}

label {
    flex: 0 0 150px; /* Fixed width for labels */
    margin-right: 20px;
    color: #fff;
  }
  
  input {
    flex: 1; /* Take remaining space */
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 300px;
    margin: 20px;
  }
