.navbar {
  background-color: #333;
  color: #fff;
  padding: 5px;
}

.navbar-title {
  text-align: center;
  font-size: 40px;
}

.button-green {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: 10px;
}

/* Add CSS for button-group class which has multiple buttons in it. Make it center align and add some margin between buttons */
.button-group {
  text-align: center;
  margin: 10px;
}

/* Add CSS for class footer to keep it at the bottom of the page, covers the entire width of the page and has some padding */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

/* Add CSS for class fa fa-twitter to show the twitter icon in the footer */
.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

