body {
  background-color: #333;
}

.navbar {
  /* background: linear-gradient(to right, #000000, #808080); */
  background-color: #222;
  color: #fff;
  padding: 5px;
}

.navbar-title {
  text-align: center;
  font-size: 40px;
}

.button-green {
  width: 300px; /* Fixed width for all buttons */
  padding: 15px 30px;
  margin: 10px 0;
  border: none;
  border-radius: 20px;
  background-color: #555;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-green:hover {
  background-color: #777;
}

/* Add CSS for button-group class which has multiple buttons in it. Make it center align and add some margin between buttons */
.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

/* Add CSS for class footer to keep it at the bottom of the page, covers the entire width of the page and has some padding */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-align: center;
}

/* Add CSS for class fa fa-twitter to show the twitter icon in the footer */
.fa {
  padding: 10px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

